.search{
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid rgb(180, 177, 177);
    padding-top: 10px;
    padding-bottom: 10px;
}
.search2{
     border-radius: 50px;
    font-size: 20px;
    border: 1px solid rgb(180, 177, 177);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    box-shadow: 10px 10px 10px rgb(216, 214, 214);
}
.search3{
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid rgb(180, 177, 177);
    padding-top: 10px;
    padding-bottom: 10px;
}
.search4{
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid rgb(180, 177, 177);
    padding-top: 10px;
    padding-bottom: 10px;
}
.search3,.search4{
 display: block;
}
.btn1{
    padding:20px;
    margin: 5px;
}
.thanks,.btn1{
    display: inline;
}