#sub{
    height: 36px;
    width: 100px;
    background-color: rgb(210, 47, 47);
    color: white;
    border: none;
    border-radius: 2px;
}
#sub:hover{
    background-color: green;
    cursor: pointer;
    opacity: 0.7;
}
#sub:active{
    background-color: blue;
}